<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Ad Testbed"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".PangleScene" android:exported="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextScene" android:exported="true" android:launchMode="singleTask" />
        <activity android:name=".CanvasScene" android:exported="true" android:launchMode="singleTask" />
        <activity android:name=".UpdateScene" android:exported="true" android:launchMode="singleTask" />
        <activity android:name=".IntroScene" android:exported="true" android:launchMode="singleTask" />
    </application>
</manifest>
